.banner {
background-image: url(../../images/tortue.jpg);
color: white;
background-size: cover;
background-position: center;
height: 544px;
}


.banner h2 {
	font-size: 40px;
	margin: 0px 0px;
	padding: 60px 0px;
	color: white;
}

.container-banner {
  width: 1400px;
  margin: 0px auto;
  padding: 110px 0px;
}

